<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.dan_nrw.android.scroid"
      android:versionCode="1" android:versionName="@string/versionInfo">
    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/applicationName" android:allowClearUserData="true">
        <activity android:icon="@drawable/icon" android:name="ScroidWallpaperGallery" android:label="@string/applicationName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name=".core.favourites.FavouriteListActivity"></activity>
<activity android:name=".core.wallpapers.WallpaperPreviewActivity" android:theme="@android:style/Theme.Dialog"></activity>
<activity android:name=".core.settings.SettingsActivity"></activity>
</application>
<uses-permission android:name="android.permission.SET_WALLPAPER"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-sdk android:minSdkVersion="2"></uses-sdk>
</manifest> 